* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

/*  REGOLE GENERALI */

.centratura {
  padding: 0 10%;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.mainfont {
  font-size: 1.2em;
  color: grey;
  line-height: 2em;
}

.titlefont {
  color: rgb(62, 72, 87);
}
.bigorangebutton {
  color: white;
  background-color: salmon;
  border-radius: 5px;
  padding: 15px 25px;
  text-decoration: none;
}
/* REGOLE HEADER */

.fixed-navbar {
  position: fixed;
  background-color: rgb(237, 255, 251);
  width: 100%;
  padding: 15px 5%;
  border-bottom: 1px solid gray;
}
/* COLONNA SINISTRA BARRA FISSA */
.leftcontent {
  margin: 10px 0;
  display: inline-block;
  width: 30%
}

.leftcontent .language {
  border: none;
}

.leftcontent span {
  padding-left: 10px;
  border-left: 1px solid grey;
}

.leftcontent select {
  background-color: inherit;
}

/* COLONNA DESTRA BARRA FISSA */

.rightcontent {
  margin: 10px 0;
  display: inline-block;
  width: 69%;
  text-align: right;
}

.rightcontent input {
  border: none;
  background-color: inherit;
}

#loginbutton {
  color: salmon;
  background-color: white;
  border-radius: 5px;
  border: 1px solid salmon;
  padding: 10px 5px;
  text-decoration: none;
}

.smallorangebutton {
  color: white;
  background-color: salmon;
  border-radius: 5px;
  padding: 10px 5px;
  margin-left: 10px;
  text-decoration: none;
}

/* REGOLE NAVBAR CON MENù A TENDINA E LOGO */

.nav-dropdown {
  padding-top: 140px;
  padding-bottom: 30px;
}

#logo img {
  vertical-align: middle;
}

.ul-wrapper {
  width: 91%;
  text-align: right;
}
.ul-wrapper, .ul-wrapper li  {
  display: inline-block;
}

.ul-wrapper a {
  text-decoration: none;
  color: gray;
  margin-left: 20px;
}
/* REGOLE AREA CON JUMBOTRON */
.nav-jumbotron {
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  min-height: 700px;
}

.jumbo-textbox {
  width: 50%;
}
.jumbo-textbox a {
  margin: 30px 0;
  display: inline-block;
}
.jumbo-textbox :last-child {
  font-size: 0.8em;
}
#maintitle {
  font-size: 4em;
  padding: 30px 0;
}

 /* WARNING: INIZIO MAIN */
.maincontainer {
  background-color: rgb(237, 255, 251);
}

/* REGOLE MAINTOPSIDE */
.main-topside {
   text-align: center;
 }

.main-topside img {
  width: 30%;
  height: 30%;
  padding-top: 30px;
}

.main-topside h2 {
  font-size: 2em;
  padding-bottom: 20px;
}

.main-topside p {
  padding: 0 5% 20px 5%;
}
/* REGOLE MAIN CRM */
.main-crm .rigacrm {
  padding-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow:1px 1px 7px -1px rgba(0,0,0,0.75);

}

.colonna25 {
  width: 25%;
  float: left;
  text-align: center;
}

.colonna25 img {
  width: 50%;
  height:50%;
  margin: 30px 0;
}

.colonna75 {
  width: 75%;
  float: left;
  text-align: left;
}

.colonna75 h3 {
  font-size: 2em;
  margin: 30px 0;
}

.colonna75 h4 {
  font-size: 1.5em;
  display: inline-block;
  vertical-align: middle;
  margin: 20px 0;
}

.colonna75 p {
  padding-right: 10%;
}
.colonna75 hr {
  display: inline-block;
  width: 50%;
  margin-left: 60px;
  border: 1px solid grey;
  color: grey;
}
.colonna75 i {
  color: salmon;
  margin: 0 15px;
}

.colonna75 i:first-of-type {
  margin-left: 0;
}
 /*  REGOLE SEZIONE 3 HUBS  */

.colonna30wrap {
  width: 30%;
  float:left;
  background-color: white;
  border-radius: 5px;
  box-shadow:1px 1px 7px -1px rgba(0,0,0,0.75);
  margin: 50px 0;
  text-align: center;
}

.colonna30wrap img {
  width: 120px;
  height: 150px;
  padding-top: 10px;
 }

.colonna30wrap h4:first-of-type {
  font-size: 2em;
  margin: 20px 0;
 }

.colonna30wrap h4:last-of-type {
  font-size: 1.5em;
  margin: 20px 0;

}

.colonna30wrap p {
  margin: 0 5%;
}

.colonna30wrap p:first-of-type {
  padding-bottom: 50px;
  border-bottom: 2px solid gray;
}

.colonna30wrap p:last-of-type {
  text-align: left;
  line-height: 1em;
}

.colonna30wrap i {
  color: salmon;
  margin-right: 15px;
}

.colonna30wrap a {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 20px;
}

.saleshub {
  margin: 50px 5%;
}

/* REGOLE SEZIONE 4 DATI GRAFICI */

.communityrepwrapper {
  text-align: center;
  color: white;
  background-color: #00A8B9;
  padding: 0;
  background-image: linear-gradient(to right,#00A8B9,#00bca5 );
}

.creptext h3 {
  padding: 40px 0;
  font-size: 2em;
  color: white;
}
.creptext p {
  color: white;
}
/* regole riga 1 */
.riga1comrep {
  margin-top: 40px;
}
.riga1comrep .colonna25 {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.agencywrapper img {
  width: 44px;
  height: 33px;
}
.blogwrapper img {
  width: 69px;
  height: 33px;
}

.academywrapper img {
  width: 127px;
  height: 33px;
}

.inboundwrapper img {
  width: 107px;
  height: 33px;
}

.testobiancogrande {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 15px;
}

.riga1comrep p {
  font-size: 0.8em;
  padding-bottom: 30px;
}

.riga1comrep .colonna25:last-of-type {
  border-right: none;
}
/*  regole riga 2 */

.connectwrapper img {
  width: 69px;
  height: 33px;
}

.globewrapper img{
  width: 33px;
  height: 33px;
}

.followerswrapper img {
  width: 34px;
  height: 33px;
}

.growthwrapper img {
  width: 104px;
  height: 23px;
}

.riga2comrep .colonna25 {
  border-right: 1px solid white;
}

.riga2comrep .colonna25:last-of-type {
  border-right: none;
}

.riga2comrep p {
  font-size: 0.8em;
  padding-bottom: 30px;
}

/* REGOLE SEZIONE 5 generali */

.main-partners {
  background-color: white;
}
.colonna33  {
  float: left;
  width: 33%;
}

.colonna60 {
  float: left;
  width: 60%;
  margin-left: 5%;
  margin-top: 40px;
}

/* regole colonna 33 */

.colonna33 h3, .colonna33 p {
  margin: 30px 40px 0 40px;
}

.colonna33 h3 {
  font-size: 2em;
}

.colonna33 p {
  font-size: 0.8em;
}

.colonna60 img {
  max-height: 30px;
  max-width: 115px;
  margin: 10px 20px;
}

.colonnapartners {
  width: 25%;
  float: left;
  text-align: center;

}

.colonna60 .atlassianmargin {
  margin-bottom: 40px;
}

/*  REGOLE SEZIONE 6 MAIN */
.main-calltoaction {
  background-color: white;
}
.calltoaction-textbox {
  width: 50%;
  display: inline-block;
}
.calltoaction-textbox a {
  margin: 30px 0;
  display: inline-block;
}
.calltoaction-textbox :last-child {
  font-size: 0.8em;
}

.subtitle {
  font-size: 2.5em;
  padding: 150px 0 30px 0;
}

.calltoaction-img-wrapper {
  width: 49%;
  display: inline-block;
  text-align: center;
}

.calltoaction-img-wrapper img {
  width: 70%;
  margin-left: 30px;
}
