* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

/*  REGOLE GENERALI */

.centratura {
  padding: 0 10%;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.mainfont {
  font-size: 1.2em;
  color: grey;
  line-height: 2em;
}

.bigorangebutton {
  color: white;
  background-color: salmon;
  border-radius: 5px;
  padding: 15px 25px;
}
/* REGOLE HEADER */

.fixed-navbar {
  position: fixed;
  background-color: rgb(209, 255, 241);
  width: 100%;
  padding: 30px 5%;
  vertical-align: middle;
  border-bottom: 1px solid gray;
}
/* COLONNA SINISTRA BARRA FISSA */
.leftcontent {
  margin: 10px 0;
  display: inline-block;
  width: 30%
}

.leftcontent .language {
  border: none;
}

.leftcontent span {
  padding-left: 10px;
  border-left: 1px solid grey;
}

.leftcontent select {
  background-color: inherit;
}

/* COLONNA DESTRA BARRA FISSA */

.rightcontent {
  margin: 10px 0;
  display: inline-block;
  width: 69%;
  text-align: right;
}

.rightcontent input {
  border: none;
  background-color: inherit;
}

.rightcontent a {
  text-decoration: none;
}

#loginbutton {
  color: salmon;
  background-color: white;
  border-radius: 5px;
  border: 1px solid salmon;
  padding: 10px 5px;
}

.smallorangebutton {
  color: white;
  background-color: salmon;
  border-radius: 5px;
  padding: 10px 5px;
  margin-left: 10px;
}

/* REGOLE NAVBAR CON MENù A TENDINA E LOGO */

.nav-dropdown {
  padding-top: 120px;
  padding-bottom: 30px;
  vertical-align: middle;
}

#logo img {
  vertical-align: middle;
}

.ul-wrapper {
  width: 91%;
  text-align: right;
}
.ul-wrapper, .ul-wrapper li  {
  display: inline-block;
}

.ul-wrapper a {
  text-decoration: none;
  color: gray;
  margin-left: 20px;
}
/* REGOLE AREA CON JUMBOTRON */
.nav-jumbotron {
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  height: 700px;
}

.jumbo-textbox {
  width: 50%;
}
.jumbo-textbox a {
  margin: 30px 0;
  display: inline-block;
}
.jumbo-textbox :last-child {
  font-size: 0.8em;
}
#maintitle {
  font-size: 4em;
  padding: 30px 0;
}
